<ng-template #editModel let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit Note</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<form [formGroup]="editNote" (ngSubmit)="editNoteSubmit()" >
		<div class="modal-body">
			<div class="form-group mb-3">
				<input type="text" class="form-control" placeholder="Note title" formControlName="title">
			</div>

			<div class="form-group mb-3">
				<textarea class="form-control" rows="3" placeholder="Note description" formControlName="description"></textarea>
			</div>

			<div class="form-group mb-3">
				<input type="text" class="form-control" placeholder="Add Custome tag" formControlName="tag">
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" (click)="modal.close('Save click')">Edit</button>
		</div>
	</form>
</ng-template>