<div class="outer-container">
    <div class="screen">
        <div class="screen__content">
            <div class="reset-psw-container">
                <form [formGroup]="resetPswForm" (ngSubmit)="onResetPswFormSubmit()">
                    <h1>Reset Password</h1>
                    <div formGroupName="psw">
                        <!-- password -->
                        <div class="reset__password__field">
                            <fa-icon [icon]="passwordIcon" class="icons"></fa-icon>
                            <input [type]="newPasswordType" class="reset__password__psw__input"  placeholder="Password" #newPassword formControlName="password">
                            <fa-icon [icon]="eyeIconPassword" class="pass_show_icon" (click)="togglePassword(newPassword.type)"></fa-icon>
                            <!-- [start] PASSWORD Validation error message -->
                            @if(resetPswForm.get('psw.password')?.errors?.['required'] && resetPswForm.get('psw.password')?.touched)
                            {
                                <p class="warning">Password is required.</p>
                            }
                            @else if(resetPswForm.get('psw')?.errors?.['passwordStrength'] && resetPswForm.get('psw.password')?.dirty)
                            {
                                <div class="warning error-list">
                                    <div class="row">
                                        <ul class="col list-style">
                                            <li>*one uppercase letter</li>
                                            <li>*one lowercase letter</li>
                                        </ul>
                                        <ul class="col list-style">
                                            <li>*one number letter</li>
                                            <li>*one special character</li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            @else if(resetPswForm.get('psw.password')?.errors?.['minlength'])
                            {
                                <p class="warning">Password must be at least 8 characters long.</p>
                            }
                            <!-- [end] PASSWORD Validation error message -->
                        </div>
                        <!-- confirm password -->
                        <div class="reset__password__field">
                            <fa-icon [icon]="passwordIcon" class="icons"></fa-icon>
                            <input [type]="confirmPasswordType" class="reset__password__psw__input" placeholder="Confirm Password" #confirmPassword formControlName="confirmPassword">
                            <fa-icon [icon]="eyeIconConfirmPassword" class="pass_show_icon" (click)="toggleConfirmPassword(confirmPassword.type)"></fa-icon>
                            <!-- [start] CONFIRM_PASSWORD Validation error message -->
                            @if(resetPswForm.get('psw.confirmPassword')?.errors?.['required'] && resetPswForm.get('psw.confirmPassword')?.touched)
                            {
                                <p class="warning">Password is required.</p>
                            }
                            @else if(resetPswForm.get('psw.confirmPassword')?.errors?.['minlength'])
                            {
                                <p class="warning">Password must be at least 8 characters long.</p>
                            }
                            @else if(resetPswForm.get('psw')?.errors?.['confirmPassword'] && resetPswForm.get('psw.confirmPassword')?.dirty)
                            {
                                <p class="warning">Password and Confirm Password do not match.</p>
                            }
                            <!-- [end] CONFIRM_PASSWORD Validation error message -->
                        </div>
                    </div>
                    <!-- Reset Password Button -->
                    <div class="button-div">
                        <button class="reset__password__submit" [ngClass]="{'disable-btn': (resetPswForm.invalid && resetPswForm.touched)}">
                            <span class="button__text">Reset Password</span>
                            <span class="submit__icon">
                                <fa-icon [icon]="submitIcon"></fa-icon>
                            </span>
                        </button>
                    </div>
                </form>
                <div class="additional-links">
                    <a [routerLink]="'/login'" class="link-style">Login</a>
                </div>
            </div>
            <div class="social-signup">
                <h3>Continue with</h3>
                <div class="social-icons">
                    <div>
                        <a href="#" class="social-signup__icon fab fa-instagram"><fa-icon [icon]="instaIcon"></fa-icon></a>
                        <a href="#" class="social-signup__icon"><fa-icon [icon]="facebookIcon"></fa-icon></a>
                        <a href="#" class="social-signup__icon"><fa-icon [icon]="twitterIcon"></fa-icon></a>
                    </div>
                    <div>
                        <a href="#" class="social-signup__icon"><fa-icon [icon]="githubIcon"></fa-icon></a>
                        <a href="#" class="social-signup__icon"><fa-icon [icon]="linkdinIcon"></fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</div>