/* -signup Container- */
.reset-psw-container{
	display: flex;
    flex-direction: column;
	
    padding: 20px;
    width: 100%;
    height: auto;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    z-index: 1;
	position: relative;	
}
/* ------------------ */

/* -Heading- */
h1{
	color: #4C489D;
    font-size: 33px;
    font-weight: 600;
	margin-left: 18px;
	font-family: Raleway;
}
/* --------- */

/* -Icons Style- */
.icons{
	font-size: 20px;
	position: absolute;
	top: 11px;
	color: #7875B5;
}

.pass_show_icon{
	display: absolute;
	top: 11px;
	color: #D1D1D4;
	padding-left: 5px;
    /* padding-bottom: 12px; */
	/* border-bottom: 2px solid #D1D1D4; */
}
/* ------------- */

/* -signup Form fields- */
.reset__password__field {
	margin: 20px 0px;	
	position: relative;	
}

.reset__password__psw__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 79%;
	transition: .2s;
}

.reset__password__psw__input:active,
.reset__password__psw__input:focus,
.reset__password__psw__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}
/* ------------------- */

/* Validation Warning */
.warning{
	color: red;
	margin: 0px !important;
	font-size: 13px;
	font-weight: bold;
}

input.ng-invalid.ng-touched{
	border-bottom-color: rgba(255, 0, 0, 0.575);
}

.error-list{
	width: 87%;
}

.list-style {
	list-style-type: none;
}
/* ------------------ */

/* Additional link's style */
.additional-links{
	padding-top: 8px;
	padding-right: 58px;
	text-align: center;
}
.link-style {
  text-decoration: none;
  color: #333064; 
  font-size: 16px;
  font-weight: 600;
}

.link-style:hover {
	text-decoration: underline;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.811); 
}
/* ----------------------- */

/* -Submit Button- */
.reset__password__submit {
	display: flex;
	justify-content: space-between;
	background: #fff;
	font-size: 14px;
	margin-left: 63px;
	padding: 10px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 52%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.disable-btn{
	color: #4c489d71;
	cursor: default;
}

.reset__password__submit:active,
.reset__password__submit:focus,
.reset__password__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.submit__icon{
	font-size: 20px;
}
/* ---------------- */