<div class="outer-container">
    <div class="screen">
        <div class="screen__content">
            <div class="forget-psw-container">
                <form [formGroup]="frogetPswForm" (ngSubmit)="onForgetPswFormSubmit()">
                    <h1>Forget Password</h1>
                    <div class="forget-psw__field">
                        <fa-icon [icon]="mailIcon" class="icons"></fa-icon>
                        <input type="email" class="froget-psw_email_input" id="floatingInput" placeholder="name@example.com" formControlName="email">
                        <!-- [start] EMAIL Validation error message -->
                        @if(frogetPswForm.get('email')?.errors?.['required'] && frogetPswForm.get('email')?.touched){
                            <p class="warning">Email is required.</p>
                        }
                        @else if(frogetPswForm.get('email')?.errors?.['email']){
                            <p class="warning">Incorrect Email formate</p>
                        }
                        <!-- [end] EMAIL Validation error message -->
                    </div>
                    <!-- Forget Password Button -->
                    <div class="button-div">
                        <button class="forget-psw__submit" [disabled]="frogetPswForm.invalid" [ngClass]="{'disable-btn': (frogetPswForm.invalid && frogetPswForm.touched)}">
                            <span class="button__text">Send Mail</span>
                            <span class="submit__icon">
                                <fa-icon [icon]="submitIcon"></fa-icon>
                            </span>
                        </button>
                    </div>
                </form>
                <div class="additional-links">
                    <a [routerLink]="'/login'" class="link-style">Login</a>| 
                    <a [routerLink]="'/signup'" class="link-style">SignUP Here</a>
                </div>
            </div>
            <div class="social-login">
                <h3>Continue with</h3>
                <div class="social-icons">
                    <div>
                        <a href="#" class="social-login__icon fab fa-instagram"><fa-icon [icon]="instaIcon"></fa-icon></a>
                        <a href="#" class="social-login__icon"><fa-icon [icon]="facebookIcon"></fa-icon></a>
                        <a href="#" class="social-login__icon"><fa-icon [icon]="twitterIcon"></fa-icon></a>
                    </div>
                    <div>
                        <a href="#" class="social-login__icon"><fa-icon [icon]="githubIcon"></fa-icon></a>
                        <a href="#" class="social-login__icon"><fa-icon [icon]="linkdinIcon"></fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</div>